.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nftData {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  background: rgba(0, 247, 255, 0.493);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  border-radius: 30px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.logo {
  height: 25rem;
}

.mintButton {
  filter: drop-shadow(4px 3px 2px #000000);
  display: inline-block;
  font-size: 72px;
  margin: 10px;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 9, 9, 0.671);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .5s;
}

.mintButton:hover {
  display: inline-block;
  margin: 10px;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(51, 255, 0, 0.61);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 24px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .5s;
  filter: drop-shadow(4px 3px 2px #000000);

}
.mintButton2 {
  filter: drop-shadow(4px 3px 2px #000000);

  display: inline-block;
  width: 75%;
  margin: 10px;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 9, 9, 0.671);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .5s;
}

.mintButton2:hover {
  filter: drop-shadow(4px 3px 2px #000000);

  display: inline-block;
  margin: 10px;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(51, 255, 0, 0.61);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 24px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .5s;

}

.mintNumber {
  height: 4.2rem;
  font-size: 42px;
  color:  rgb(255, 255, 255);
  filter: drop-shadow(4px 3px 2px #000000);
}

.mintNumber2 {
  color:  rgb(255, 255, 255);
  height: 4.2rem;
  font-size: 32px;
  filter: drop-shadow(4px 3px 2px #000000);
}
.mintNumber3 {
  color:  rgb(255, 255, 255);
  filter: drop-shadow(2px 2px 2px #000000);
  font-size: 18px;
}
.mintNumber4{
  font-size: 24px;
  color:  rgb(190, 10, 214);
}
.mintNumber5{
  font-size: 54px;
  color:  rgb(255, 0, 0);
  filter: drop-shadow(4px 3px 2px #000000);
  font-weight: 700;
}
.warning {
  font-size: 24px;
  color:  rgb(255, 0, 0);
  font-weight: 700;
}


